body {
  background-color: black;
  color: white;
}

a {
  color: white;
}

.videoContainer {
  text-align: center;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer {
  margin: auto;
  width: 50%;
  text-align: left;
}

.controls {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.controls span {
  margin: 5px;
}

.videoWrapper {
  width: 640px;
  margin: auto;
}
