body {
  background-color: black;
  color: white;
}

a {
  color: white;
}

.videoContainer {
  text-align: center;
}

.wrapper {
  text-align: center;
}

.footer {
  margin: auto;
  text-align: left;
  width: 50%;
}
